/** Login Configuration for the JAAS Sample Application.
	For glassfish, it is configured in <glassfish folder>/domains/<domain name>/config/login.conf
	The options for Default JaasConfigFileLoginModule defines the user name and password as options.
**/

Default {
	org.webpda.server.core.security.JaasConfigFileLoginModule required
	webpda="123456"
	webpda-admin="123456"
	jane="123456"
	fred="123456";
};